# General
.DS_Store
.idea/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sample upload files
sample-accounts.csv
sample-questions.csv

# output from webpack
dist/

# zip file for initial aws deployment
*.zip

# dev log files 
logs/

# jest coverage
coverage/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
