@import "variables";
@import "styles";


.assessmentInfoComponent
{
  display: grid;
  grid-template-columns: 100%;

  width: 100vw;
  margin-top: 30px;

  .logoContainer
  {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    align-items: center;
    justify-items: center;

    .logo
    {
      width: 500px;
    }
  }

  .subHead
  {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    font-size: 22px;
    margin-top: 16px;
    font-family: $LatoLight, sans-serif;
    letter-spacing: 4px;
  }

  .assessmentForm
  {
    grid-column: 1 / 4;
    grid-row: 3;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
  }

  .topInputs
  {
    .inputField
    {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 18px;

      border-radius: 12px;
      border: none;

      background-color: #CCCCCC;

      font-family: $LatoLight;
    }

    label
    {
      font-size: 18px;
      display: block;
      color: #606060;
      letter-spacing: 8px;
    }
  }

  .firstName
  {
    @extend .topInputs;

    grid-column: 1;
    grid-row: 3;
  }

  .lastName
  {
    @extend .topInputs;

    grid-column: 2;
    grid-row: 3;
  }

  .orgName
  {
    @extend .topInputs;

    grid-column: 3;
    grid-row: 3;
  }

  .contentBoxes
  {
    grid-column: 1 / 4;
    grid-row: 4;

    display: grid;
    margin-top: 16px;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .contentBox
  {
    display: grid;
    font-size: 18px;
    letter-spacing: 2px;

    .title
    {
      letter-spacing: 8px;
      color: #606060;
    }

    .inputFields
    {

      display: grid;
      grid-row-gap: 10px;
      grid-template-columns: 100%;

      padding-left: 10px;
      padding-right: 10px;

      border-radius: 12px;
      border: none;
      width: 100%;

      padding-top: 20px;
      padding-bottom: 20px;

      background-color: #CCCCCC;

      .urlField
      {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        //grid-column-gap: 27px;
        grid-template-columns: 15% 85%;
        justify-content: center;

        .urlInputField
        {
          display: grid;
          grid-column: 2;
          grid-row: 1;

          height: 60px;
          width: 100%;

          padding-left: 10px;
          padding-right: 10px;
          font-size: 18px;
          line-height: 60px;

          border-radius: 12px;
          border: none;

          background-color: white;
          font-family: $LatoLight;
        }

        label
        {
          display: grid;
          grid-column: 1;
          grid-row: 1;

          margin-top: 16px;

          font-size: 22px;
          font-family: $LatoLight;

          text-align: right;
          padding-right: 20px;
        }
      }

      .or
      {
        display: grid;

        grid-column: 1 / 6;
        grid-row: 2;

        text-align: center;
        font-family: $LatoLight;
        font-size: 22px;
      }

      .contentTitleField
      {
        display: grid;

        grid-column: 1;
        grid-row: 3;

        width: 100%;
        grid-template-columns: 35% 65%;

        .titleInputField
        {
          display: grid;
          grid-column: 2;
          grid-row: 1;

          padding-top: 8px;
          padding-left: 6px;
          padding-right: 6px;

          font-size: 18px;
          line-height: 50px;

          border-radius: 12px;
          border: none;

          background-color: white;
          font-family: $LatoLight;
        }

        label
        {
          font-size: 22px;
          margin-top: 16px;
          font-family: $LatoLight;
          text-align: left;
        }
      }

      .fileTypeField
      {
        display: grid;
        grid-column: 1;
        grid-row: 4;
        grid-template-columns: 35% 65%;

        .fileTypeSelectField
        {
          display: grid;
          grid-column: 2;
          grid-row: 1;

          padding: 6px;
          font-size: 18px;

          border-radius: 12px;
          border: none;

          background-color: white;
          font-family: $LatoLight;
        }

        label
        {
          font-size: 22px;
          margin-top: 16px;
          font-family: $LatoLight;

          text-align: right;
          padding-right: 20px;
        }
      }
    }
  }

  button
  {
    @extend .divTransition;

    position: absolute;
    top: 680px;
    right: 0;

    width: 334px;
    height: 62px;

    border-radius: 12px 0 0 12px;
    border: none;

    display: block;
    font-size: 26px;

    text-align: left;
    padding-left: 20px;
    letter-spacing: 4px;
    background-color: #666666;

    span
    {
      color:white;
    }

    .arrow
    {
      position: absolute;
      width: 20px;
      margin-top: 6px;
      margin-left: 20px;
    }
  }

  button:hover
  {
    span
    {
      color: #666666;
    }

    background-color: white;

    border: 1px solid #666666;
  }
}

