@import "variables";
@import "styles";


.contentHubComponent
{
  width: 332px;
  background-color: #CCCCCC;
  height: 100vh;

  .hubTitle
  {
    line-height: 100px;

    font-size: 30px;
    text-align: center;

    font-family: $ComfortRegular;
  }

  .hubContent
  {
    width: 95%;

    height: 88vh;


    //grid-template-rows: 430px 50px 500px;

    font-size: 20px;
    font-family: "LatoMedium", sans-serif, sans-serif;

    display: grid;

    justify-items: right;
    padding: 0;
    background-color: white;

    .panelItem
    {
      width: 100%;

      margin-top: 30px;

      .panelItemTitle
      {
        text-align: center;
      }


      .videoContainer
      {
        display: grid;
        justify-content: center;
      }

      .panelItemInfo
      {

        grid-template-columns: 100%;
        grid-gap: 2px;
        font-size: 10px;
        font-family: $LatoLight, sans-serif;
        color: #4D4D4D;

        display: grid;

        padding-left: 2vw;
        padding-right: 2vw;

        .itemTitle
        {
          grid-row: 1;
          grid-column: 1;
        }

        .itemURL
        {
          grid-row: 2;
          grid-column: 1;

          .urlLink
          {
            text-decoration: none;
            color: #4D4D4D;
          }
        }

        .itemDate
        {
          grid-row: 3;
          grid-column: 1;
        }

        .itemPublisher
        {
          grid-row: 4;
          grid-column: 1;
        }

        .itemCount
        {
          grid-row: 5;
          grid-column: 1;
        }
      }
    }

    .panelItem:last-child
    {
      margin-top: 0;
    }

    .openCloseBtn
    {
      cursor: pointer;
      display: grid;

      text-align: right;
      justify-items: right;

      height: 50px;
      width: 50px;

      margin-right: -4px;

      .arrowBtn
      {
        width: 50px;
      }

      .arrowBtnOpen
      {

      }
    }
  }
}

