@import "variables";


.disclaimerComponent
{
  display: grid;
  grid-template-columns: 100%;

  width: 80%;

  .titleContainer
  {
    margin-top: 30px;
    font-size: 56px;
    text-align: center;
  }

  .enterBtnContainer
  {
    display: grid;

    margin-top: 60px;
    justify-content: center;
  }

  .enterBtn
  {
    @extend .divTransition;

    font-size: 60px;
    background-color: #666666;
    color: white;

    padding-bottom: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 12px;

    align-content: center;
    justify-content: center;

    border: none;
  }

  .enterBtn:hover
  {
    color: #666666;
    background-color: white;
    border: 1px solid #666666;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80%;
    background-color: #fff;
    color: #444;
  }

  .disclaimerBox
  {
    font-size: 20px;
    font-family: $LatoMedium;

    display: grid;
    grid-gap: 40px;
    align-items: center;
    justify-items: center;

    margin-top: 60px;

    border-radius: 12px;
    border: none;

    padding: 60px;

    background-color: #CCCCCC;
  }

  .top
  {
    grid-column: 1;
    grid-row: 1;
  }

  .middle
  {
    grid-column: 1;
    grid-row: 2;
  }

  .bottom
  {
    grid-column: 1;
    grid-row: 3;
  }

  .checkBoxContainer
  {
    display: flex;
    width: 100%;
    padding-right: 20px;
  }

  .checkbox
  {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    margin-right: 40px;
  }

  .checkmark
  {
    width: 80px;
    top: -26px;
    position: relative;
  }
}

