@import "variables";


.disclaimerComponent
{

}

.disclaimerBox
{
  font-size: 32px;
  font-family: $LatoMedium;

  display: flex;
  margin-top: 60px;

  border-radius: 12px;
  border: none;

  padding: 60px;

  background-color: #CCCCCC;

  button
  {
    display: block;
    font-size: 60px;
    background-color: transparent;
    color: #999999;
    border: none;
  }
}

.checkBoxContainer
{
  display: flex;
  width: 100%;
}

.checkbox
{
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 12px;
}

.checkmark
{
  width: 80px;
  top: -26px;
  position: relative;
}