@import "variables";


$indicationTextInitOpacity: .5;

.resultsComponent
{

  margin-top: 14px;

  .veryStrongColor
  {
    color: #009245;
  }

  .strongColor
  {
    color: #8CC63F;
  }

  .moderateColor
  {
    color: #FCB721;
  }

  .weakColor
  {
    color: #F15A24;
  }

  .noEvidenceColor
  {
    color: #ED1C24;
  }

  .titleContainer
  {
    text-align: center;
    letter-spacing: 6px;
    margin-top: 20px;

    font-size: 45px;
    font-family: $ComfortRegular;
    color: #666666;
  }

  .subTitleContainer
  {
    font-size: 24px;
    font-family: $LatoLight;
    color: #999999;
    text-align: center;
    margin-top: -14px;
  }

  .restartBtnContainer
  {
    .restartBtn
    {
      @extend .divTransition;

      position: absolute;

      width: 178px;
      height: 64px;

      text-align: left;

      left: 0;
      top: 680px;

      background-color: #F2F2F2;
      font-family: $ComfortBold;

      border: none;
      border-radius: 0 10px 10px 0;

      span
      {
        color: #999999;
        font-size: 20px;
        line-height: 22px;
        position: absolute;
        top: 13px;
        left: 75px;
        letter-spacing: 4px;
      }

      .backBtnArrow
      {
        position: absolute;
        width: 20px;
        left: 24px;
        top: 17px;
      }
    }

    .restartBtn:hover
    {
      background-color: #666666;

      span
      {
        color: white;
      }
    }
  }

  .downloadBtnContainer
  {
    display: grid;
    position: relative;
    margin-top: 26px;
    justify-content: center;

    .downloadBtn
    {
      @extend .divTransition;

      position: relative;

      width: 575px;
      height: 55px;

      font-size: 28px;
      letter-spacing: 10px;
      background-color: #666666;
      color: white;

      padding-bottom: 0;
      padding-left: 60px;
      padding-right: 60px;

      border-radius: 12px;

      align-content: center;
      justify-content: center;

      border: none;

      .arrow
      {
        position: absolute;
        width: 20px;
        height: 30px;
        top: 60px;
        left: 272px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
      }
    }

    .downloadBtn:hover
    {
      color: #666666;
      background-color: white;
      border: 1px solid #666666;
    }

    span
    {

    }
  }

  .resultsContent
  {
    font-size: 20px;
    font-family: $LatoMedium;

    display: grid;
    grid-template-columns: 5% 40% 50% 5%;

    justify-items: center;

    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    min-width: 1000px;

    border-radius: 12px;
    border: none;

    background-color: #E6E6E6;

    .resultTitle
    {
      grid-column: 1 / 5;
      grid-row: 1;

      margin-top: 10px;
      margin-bottom: 10px;

      padding-left: 20px;
      padding-right: 20px;

      font-size: 30px;
      font-family: $LatoMedium;
    }

    .resultGage
    {
      grid-column: 2;
      grid-row: 2;

      width: 342px;
      height: 213px;
      margin-top: 10px;

      overflow: hidden;

      display: grid;
    }

    .resultGageSVG
    {
      width: 342px;
      height: 342px;

      grid-column: 1;
      grid-row: 1;

      background: url(../assets/svg/gauge.svg);
      background-repeat: no-repeat;
    }

    .resultGageArrowSVG
    {
      width: 342px;
      height: 342px;
      grid-column: 1;
      grid-row: 1;

      background: url(../assets/svg/gaugeArrow.svg);
      background-repeat: no-repeat;
    }

    .resultColorLegend
    {
      grid-column: 3;
      grid-row: 2;

      line-height: 44px;
      font-size: 21px;
      font-family: $LatoMedium;

      padding-left: 20px;
    }

    .currentLegendElement
    {
      font-weight: 900;
      font-size: 24px;
      opacity: 1 !important;
    }

    .veryStrong
    {
      @extend .veryStrongColor;
      font-family: $LatoMedium;
      opacity: $indicationTextInitOpacity;
    }

    .strong
    {
      @extend .strongColor;
      font-family: $LatoMedium;
      opacity: $indicationTextInitOpacity;
    }

    .moderate
    {
      @extend .moderateColor;
      font-family: $LatoMedium;
      opacity: $indicationTextInitOpacity;
    }

    .weak
    {
      @extend .weakColor;
      font-family: $LatoMedium;
      opacity: $indicationTextInitOpacity;
    }

    .noEvidence
    {
      @extend .noEvidenceColor;
      font-family: $LatoMedium;
      opacity: $indicationTextInitOpacity;
    }

    .textIndicatorContainer
    {
      grid-column: 2 / 4;
      grid-row: 3;

      border-radius: 12px;
      border: none;

      margin-top: 20px;
      margin-bottom: 20px;

      text-align: center;

      width: 100%;
      padding-bottom: 5px;

      background-color: white;

      .textIndicator
      {
        padding: 5px;
        font-size: 36px;
        font-family: $LatoMedium;
      }
    }

    .factorsContainer
    {
      grid-column: 1 / 5;
      grid-row: 4;

      font-size: 18px;
      font-family: $LatoMedium;

      margin-bottom: 20px;
      text-align: center;

      .factorsAgainst
      {

      }

      .factorsTowards
      {

      }
    }
  }
}