@import "variables";


.resultsComponent
{

  margin-top: 30px;

  .veryStrongColor
  {
    color: #009245;
  }

  .strongColor
  {
    color: #8CC63F;
  }

  .moderateColor
  {
    color: #FCB721;
  }

  .weakColor
  {
    color: #F15A24;
  }

  .noEvidenceColor
  {
    color: #ED1C24;
  }

  .titleContainer
  {
    font-size: 56px;
    text-align: center;
    letter-spacing: 6px;
    margin-top: 20px;
  }

  .subTitleContainer
  {
    font-size: 34px;
    font-family: $LatoLight;
    color: #999999;
    text-align: center;
  }

  .downloadBtnContainer
  {
    display: grid;

    margin-top: 60px;
    justify-content: center;
  }

  .downloadBtn
  {
    @extend .divTransition;

    font-size: 60px;
    letter-spacing: 10px;
    background-color: #666666;
    color: white;

    padding-bottom: 0;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;

    border-radius: 12px;

    align-content: center;
    justify-content: center;

    border: none;
  }

  .downloadBtn:hover
  {
    color: #666666;
    background-color: white;
    border: 1px solid #666666;
  }

  //.wrapper {
  //  display: grid;
  //  grid-gap: 10px;
  //  grid-template-columns: 80%;
  //  background-color: #fff;
  //  color: #444;
  //}

  .resultsContent
  {
    font-size: 20px;
    font-family: $LatoMedium;

    display: grid;
    grid-template-columns: 5% 40% 50% 5%;

    justify-items: center;

    margin-top: 30px;

    border-radius: 12px;
    border: none;

    background-color: #E6E6E6;

    .resultTitle
    {
      grid-column: 1 / 5;
      grid-row: 1;

      margin-top: 20px;
      margin-bottom: 40px;

      padding-left: 20px;
      padding-right: 20px;

      font-size: 46px;
      font-family: $LatoMedium;
    }

    .resultGage
    {
      grid-column: 2;
      grid-row: 2;

      width: 400px;
      height: 250px;
      overflow: hidden;

      display: grid;
    }

    .resultGageSVG
    {
      width: 400px;
      height: 400px;

      grid-column: 1;
      grid-row: 1;

      background: url(../assets/svg/gauge.svg);
      background-repeat: no-repeat;
    }

    .resultGageArrowSVG
    {
      width: 400px;
      height: 400px;
      grid-column: 1;
      grid-row: 1;

      background: url(../assets/svg/gaugeArrow.svg);
      background-repeat: no-repeat;
    }

    .resultColorLegend
    {
      grid-column: 3;
      grid-row: 2;

      line-height: 44px;
      font-size: 26px;
      font-family: $LatoMedium;

      padding-left: 20px;
    }

    .currentLegendElement
    {
      font-weight: 900;
    }

    .veryStrong
    {
      @extend .veryStrongColor;
      font-family: $LatoMedium;
    }

    .strong
    {
      @extend .strongColor;
      font-family: $LatoMedium;
    }

    .moderate
    {
      @extend .moderateColor;
      font-family: $LatoMedium;
    }

    .weak
    {
      @extend .weakColor;
      font-family: $LatoMedium;
    }

    .noEvidence
    {
      @extend .noEvidenceColor;
      font-family: $LatoMedium;
    }

    .textIndicatorContainer
    {
      grid-column: 2 / 4;
      grid-row: 3;

      border-radius: 12px;
      border: none;

      margin-top: 20px;
      margin-bottom: 20px;

      text-align: center;

      width: 100%;
      padding-bottom: 5px;

      background-color: white;

      .textIndicator
      {
        padding: 5px;
        font-size: 46px;
        font-family: $LatoMedium;
      }
    }

    .factorsContainer
    {
      grid-column: 1 / 5;
      grid-row: 4;

      font-size: 20px;
      font-family: $LatoMedium;

      margin-bottom: 20px;
      text-align: center;

      .factorsAgainst
      {

      }

      .factorsTowards
      {

      }
    }
  }
}