@import "variables";

* {
    box-sizing: border-box;
    font-family: $ComfortRegular;
    margin: 0;
    padding: 0;
    color: #4d4d4d;
}

body
{
    //padding-top: 10px;
}

button
{
    cursor: pointer;
}

.outerBox
{
    display: grid;
    justify-items: center;

    //max-width: 2000px;
    margin: 0 auto;

}

//.innerbox
//{
//    //padding: 10px;
//    width: 95%;
//    //margin: 15px auto;
//}

.container
{
    display: grid;
    //width:75%;

    align-content: center;
    justify-content: center;

    justify-items: center;
    align-items: center;
}

.logoSmallUpperRight
{
    width: 100px;
}

.logoUpperRighContainer
{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.hide
{
    opacity: 0;
    visibility: hidden;
}

.divTransition
{
    transition:         0.5s;
    -webkit-transition: 0.5s;
}

.disabled
{
    pointer-events: none;
    opacity: .5;
}

.inputDisabled
{
    opacity: .5;
}