
@font-face
{
  font-family:'ComfortBold';
  src:url("./fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family:'ComfortRegular';
  src:url("./fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family:'LatoLight';
  src:url("./fonts/Lato-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family:'LatoMedium';
  src:url("./fonts/Lato-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family:'LatoRegular';
  src:url("./fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


$ComfortBold: 'ComfortBold', sans-serif;
$ComfortRegular: 'ComfortRegular', sans-serif;
$LatoLight: 'LatoLight', sans-serif;
$LatoMedium: 'LatoMedium', sans-serif;
$LatoRegular: 'LatoRegular', sans-serif;